h2 {
	color: #5A5D5E;
	margin-top: 184px;
}

.next-question:hover, .startQuiz:hover, .startAgain:hover {
	color: #9999ff;
}

.next-question, .startQuiz, .startAgain {
	width: 103px;
	background-color: #268EB8;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	margin-top: 49px;
}

.intro {
	margin-top: 250px;
}