<head>
<style>
td {
	width: 150px;
}
</style>
</head>
<div align="center" class="box">
	<table align="center">
		<tr>
			<td>Select student:</td>
			<td><select ng-model="exam.userid" name="exam.userid">
					<option ng-repeat="student in students" value="student.userid" ng-selected="selectedStudent == student.userid">{{student.username}}</option>
			    </select>
			</td>
		</tr>
		<tr>
			<td>Select Template</td>
			<td><select ng-model="exam.template_id" name="exam.template_id">
					<option ng-repeat="template in templates" value="template.template_id" ng-selected="selectedTemplate == template.template_id">{{template.template_name}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Start Date:</td>
			<div ng-repeat="editExam in editExams">
				<td><input type="date" name="exam.start_date" ng-selected="selectedDate == editExam.start_date" ng-model="selectedDate"></td>
			</div>
		</tr>
		<tr>
			<td>Start Time:</td>
			<div ng-repeat="editExam in editExams">
				<td><input type="time" name="exam.start_time" ng-selected="selectedTime == editExam.start_time" ng-model="selectedTime"></td>
			</div>
		</tr>
		<tr>
			<td>Duration:</td>
			<div ng-repeat="editExam in editExams">
				<td><input type="text" name="exam.duration" ng-selected="selectedDuration == editExam.duration" ng-model="selectedDuration"></td>
			</div>
		</tr>
	</table>
	<br>
	<br>
	<button class="butt" ng-click="setExam()"/>Done
	
	<button ng-click="getExams()" class="butt" />Back
</div>