<head>
<style>
th {
	background-color: #7A98B2;
	color: white;
	padding: 20px 20px;
}
td {
	padding: 40px 40px;
}
</style>
</head>
<div class="top">
	<table align="center" border="1">
		<tr>
			<th>Exam Id</th>
			<th>User Id</th>
			<th>Template Id</th>
			<th>Actual Start Time</th>
			<th>Duration</th>
			<th>Conducted</th>
			<th>Marks</th>
			<th>Start Time</th>
			<th>Start Date</th>
		</tr>
		<tr ng-repeat="setexam in setexams">
			<td>{{setexam.set_exam_id}}</td>
			<td>{{setexam.user.userid}}</td>
			<td>{{setexam.templatesetexam.template_id}}</td>
			<td>{{setexam.actual_start_time}}</td>
			<td>{{setexam.duration}}</td>
			<td>{{setexam.is_conducted}}</td>
			<td>{{setexam.marks}}</td>
			<td>{{setexam.start_time}}</td>
			<td>{{setexam.start_date}}</td>
		</tr>
	</table>
</div>