<head>
<style>
th {
	background-color: #7A98B2;
	color: white;
	padding: 20px;
}

td {
	padding: 20px 20px;
}
</style>
</head>
<div class="box" align="center" ng-controller="usercontroller">
	<table border="1">
		<tr>
			<th>ExamId</th>
			<th>Marks</th>
			<th>IsConducted</th>
			<th ng-if="showStart">Action</th>
		</tr>
		<tr ng-repeat="candidateInfos in candidateInfo">
			<td>{{candidateInfos.set_exam_id}}</td>
			<td>{{candidateInfos.marks}}</td>
			<td>{{candidateInfos.is_conducted}}</td>
			<td ng-if="showStart && !candidateInfos.is_conducted"><a href="#/startexam"/>Start Exam</td>
		</tr>
	</table>
</div>